/*  Caroline Lee
    11-4-2017
    css for Lab6
*/

body {
    background-color: black;
}



/*cars moving left*/

#ob1,
#ob3,
#ob5,
#ob7 {
    right: -120%;
    z-index: 10;
    height: 30px;
    width: 60px;
    display: inline-block;
    position: relative;
}



/*cars moving right*/

#ob2,
#ob4,
#ob6,
#ob8 {
    left: -100%;
    z-index: 10;
    height: 30px;
    width: 60px;
    display: inline-block;
    position: relative;
}



/*the frog*/

#frog {
    background-image: url('../images/frog.jpg');
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
}



/*the medians*/

#median {
    background-image: url('../images/grass.jpg');
    height: 40px;
    width: 100%;
}



/*the sidewalks*/

.sidewalk {
    background-image: url('../images/sidewalk.png');
    height: 30px;
    width: 100%;
}



/*the road lines*/

.lines {
    height: 2px;
    width: 100%;
    background-color: yellow;
}



/*the whole highway*/

.board {
    padding: 0;
    border-width: 20px;
    border-style: solid;
    border-color: green;
    overflow: hidden;
}



/*flashes board red*/

.board-flash-red {
    border-color: red;
}



/*flashes board white*/

.board-flash-white {
    border-color: white;
}


/*the streets*/

.street-right,
.street-left {
    background-color: black;
}


/*the score board*/

#score-board {
    background-color: #008888;
}


/*the title of the game*/

.title {
    background-color: black;
    color: green;
}


/*the info modal*/

.info-board {
    background-color: gray;
    padding: 5%;
}


/*the main buttons*/

.game-btn {
    padding: 1%;
    margin: 10% 0%;
    color: green;
    font-weight: bold;
}


/*the modals' base styles*/

#info-modal,
#done-modal {
    position: fixed;
    padding: 0% 1% 0% 1%;
    z-index: 100;
    top: 30%;
    left: 25%;
    height: 45%;
    width: 50%;
    border-style: solid;
    border-color: #008899;
    border-width: 8px;
    background: white;
    display: none;
}


/*the title of the info modal*/

.info-title {
    text-align: center;
    font-weight: bold;
}


/*the info in the info modal*/

.info-par {
    font-size: 14px;
}


/*for part in info modal in ()*/

.return-to-game {
    cursor: pointer;
}